
@{
    ViewBag.Title = "Index";
}



<h2>@ViewBag.CityId</h2>

<div id="dropDownBlock">
    <div class="row">
        <div class="col-lg-6">
            <p>Cities</p>
            <select id="city_sel"></select>
        </div>
    </div>
</div>

<div class="row">
    <h1>Movies</h1>
    <div id="movies">

        <!--premeries-->
        <div class="col-lg-4">
            <h3>Premeries</h3>
            <div id="premeries"></div>
        </div>

        <!--comming_soon-->
        <div class="col-lg-4">
            <h3>Comming Soon</h3>
            <div id="comming_soon"></div>
        </div>

        <!--top10-->
        <div class="col-lg-4">
            <h3>Top 10</h3>
            <div id="top10"></div>
        </div>

    </div>
</div>


<div class="row">
    <h1>Cinemas</h1>
    <div id="cinemas">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <!--cinemas of current city-->
            <h3>Cinemas of city</h3>
            <div id="cinemas_of_city"></div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>




<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(function () {

        $.getJSON('@Url.Action("GetAll", "City")', function (data) {
            var cities = data;
            cities.forEach(function (item, index) {
                if (item.Id == "@ViewBag.CityId") {
                    $('#city_sel').append("<option selected data-id=" + item.Id + ">" + item.Name + "</option>");
                } else {
                    $('#city_sel').append("<option data-id=" + item.Id + ">" + item.Name + "</option>");
                }
            });


            $('#premeries').load('@Url.Action("GetAllPremeriesByCity", "Movie", new { cityId= @ViewBag.CityId})');
            $('#comming_soon').load('@Url.Action("GetAllCommingSoonByCity", "Movie", new { cityId= @ViewBag.CityId})');
            $('#top10').load('@Url.Action("GetTop10ByCity", "Movie", new { cityId= @ViewBag.CityId})');
            $('#cinemas_of_city').load('@Url.Action("GetAllByCity", "Cinema", new { cityId= @ViewBag.CityId})');


            //event of dropDown City
            $('#city_sel').on('change', function (e) {
                let city_id = $('#city_sel').find(':selected').data('id');
                let url = '@Url.Action("GetAllByCity", "Movie", new { cityId = "__city_id__" })';
                window.location.href = url.replace('__city_id__', city_id);
            });

        });
    });
</script>