@model COTS.WEB.Models.CinemaViewModel

@{
    ViewBag.Title = "CinemaView";
}


<div id="cinema_block">
    <div class="row">
        <div class="col-lg-12">
            <h2>@Model.Name</h2>
            <h5>@Model.Address</h5>
        </div>
    </div>
</div>

<div id="seances_block">

    <!--date block-->
    <div id="date_select">
        <div class="row" style="border: 1px solid #BDBDBD; padding: 5px;">
            <div class="col-lg-12" style="padding: 5px;">
                <input type="date" id="sel_date">
            </div>
        </div>
    </div>

    <!--cinemas block-->
    <div id="seances"></div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        //get current date
        $.date = function (dateObject) {
            var d = new Date(dateObject);
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }
            var date = year + '-' + month + '-' + day;
            return date;
        };

        //get cinemas with seances
        function getMoviesWithSeancesByDate(current_date) {
            $.getJSON('@Url.Action("GetAllByCityJson", "Movie", new { cityId = ViewBag.CityId })', function (data) {
                var cinemas = data;
                cinemas.forEach(function (item, index) {
                    $('#seances').append(
                        '<div class="row" style="border: 1px solid #BDBDBD; padding: 5px;">' +
                            '<div class="col-lg-4">' +
                                '<div class="row">'+item.Name+'</div>' +
                            '</div>' +
                            '<div class="col-lg-8">' +
                                '<div id="btns_seances_of_' + item.Id + '"></div>' +
                            '</div>' +
                        '</div>'
                    );
                    $("#btns_seances_of_" + item.Id).load('http://' + "@ViewBag.BaseUrl" + '/seance/' + "@Model.Id" + '/' + item.Id+'/' + current_date);
                });
        });
        }

        //default setting
        var current_date = $.date($.now())
        $('#sel_date').val(current_date);
        getMoviesWithSeancesByDate(current_date);

        //event data
         $('#sel_date').on('change', function () {
            var sel_date = $('#sel_date').val();
            $('#seances').empty();
            getMoviesWithSeancesByDate(sel_date);
         });


    });
</script>

