@model IEnumerable<COTS.WEB.Models.SeanceViewModel>

@{
    ViewBag.Title = "GetAllByCinemaMovieAndDate";
}

<style>
    .modal-dialog{
        width:900px;
    }
</style>

<div id="modDialog" class="modal fade">  
    <div id="dialogContent" class="modal-dialog"></div>
</div>


@foreach (var item in Model)
{
    <input type="button" id="btn_@item.Id" value="@item.TimeBegin"/>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {

            function addPropertyId(arr) {
                arr.forEach(function (item, index) {
                    item.id = index + 1;
                });
            }

            function guid() {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
                }
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
            }

            function isBusies(selectedPlaces, busiesPlaces) {
                if (busiesPlaces.length != 0 && selectedPlaces.length != 0) {
                    let flag = false;
                    selectedPlaces.forEach(function (item_1, index_1) {
                        busiesPlaces.forEach(function (item_2, index_2) {
                            if (item_2.id == item_1.id)
                                flag = true;
                        });
                    });
                    return flag;
                }
            }


            $.ajaxSetup({ cache: false });
            $("#btn_" +@item.Id).click(function (e) {
                e.preventDefault();

                //load modal dialog
                $.get('@Url.Action("LoadHall", "Seance", new { seanceId = item.Id})', function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');


                    var cinema = 'mpx_skymall';
                    var hall = 'hall_1';

                    $.getJSON("/Resources/Json/" + cinema + "/" + hall + ".json", function (data) {

                        var places = data;
                        addPropertyId(places);

                        var sum = 0;

                        $('#selected_places').hide();

                        var selectedPlaces = new Array();
                        var bookingPlaces = new Array();

                        var ticket_hub = $.connection.ticketHub;

                        //get data others clients
                        ticket_hub.client.addData = function (data) {

                            //add to busies
                            data.forEach(function (item, index) {
                                bookingPlaces.push(item);
                            });

                            console.log(bookingPlaces);
                        }

                        //set busies places
                        $.getJSON('@Url.Action("GetAll", "Ticket")', function (dataJson) {
                            var soldTickets = dataJson;

                            soldTickets.forEach(function (item, index) {
                                places.forEach(function (place, indexPlace) {
                                    if (item.Row == place.row && item.Place == place.num)
                                        place.status = "busy";

                                    if (place.status != "busy")
                                        place.status = "free";
                                });
                            });


                            places.forEach(function (place, index) {
                                if (place.status == "busy") {
                                    var place = $('#item_' + place.id);
                                    place.attr("disabled", true);
                                    place.addClass("btn-danger");
                                }
                            });
                        });



                        //selecting places
                        places.forEach(function (item, index) {
                            $('#item_' + item.id).on('click', { obj: item }, function (e) {
                                var place = e.data.obj;
                                var place_id = '#' + e.currentTarget.id;
                                var sel_place = $('#selected_places')


                                if (!$(place_id).hasClass("btn-primary")) {
                                    $(place_id).addClass("btn-primary");

                                    sel_place.show();

                                    $('#data_block').append(
                                        '<div class="row place" id="_place_' + place.id + '" style="border-bottom: 1px solid grey">' +
                                        '<p class="col-lg-2" > ' + place.row + '</p >' +
                                        '<p class="col-lg-3">' + place.num + '</p>' +
                                        '<p class="col-lg-5">' + place.price + ' grn</p>' +
                                        '</div >'
                                    );

                                    sum += place.price;
                                    $('#total_sum').find('h5').find('span').empty();

                                    selectedPlaces.push(place);

                                } else {
                                    $(place_id).removeClass("btn-primary");

                                    $('#_place_' + place.id).remove();
                                    if ($('#data_block').children().length == 0)
                                        sel_place.hide();

                                    $('#total_sum').find('h5').find('span').empty();
                                    sum -= place.price;

                                    selectedPlaces.forEach(function (item, index) {
                                        if (item.row == place.row && item.num == place.num)
                                            delete selectedPlaces[index];
                                    });
                                }
                                $('#total_sum').find('h5').find('span').append(sum + " grn");
                            });
                        });


                        $.connection.hub.start().done(function () {

                            $('#next_step').on('click', function () {

                                    if (!isBusies(selectedPlaces, bookingPlaces)) {

                                        var tickets = new Array();
                                    selectedPlaces.forEach(function (item, index) {
                                        var ticket = {
                                            movie : '@item.Movie.Name',
                                            cinema: '@item.Cinema.Name',
                                            seanceId: '@item.Id',
                                            hall: item.id,
                                            row: item.row,
                                            place: item.num,
                                            tariff: item.tariff,
                                            price: item.price,
                                            state: 1
                                        };
                                        tickets.push(ticket);
                                    });

                                    var purchase = {
                                        id: guid(),
                                        ticketViewModels: tickets
                                    };


                                    $.ajax({
                                        url: '@Url.Action("SaveInDb", "Ticket")',
                                        method: "POST",
                                        data: JSON.stringify(purchase),
                                        contentType: "application/json; charset=utf-8",
                                        success: function (data, textStatus, jqXHR) {
                                            console.log("data: " + data);
                                            console.log("textStatus: " + textStatus);
                                            console.log("jqXHR: " + jqXHR.responseText);
                                            },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.log("jqXHR: " + jqXHR.responseText);
                                            console.log("textStatus: " + textStatus);
                                            console.log("errorThrown: " + errorThrown);
                                        }
                                    });

                                    setTimeout(function () {
                                        var url = '@Url.Action("NextStep", "Ticket", new { purchaseId = "_purchase_" })';
                                        window.location.href = url.replace("_purchase_", purchase.id);
                                    }, 1000);

                                    //send to server
                                    ticket_hub.server.send(selectedPlaces);
                                } else {
                                        alert("sorry, places is busies ");
                                        window.location.reload();
                                }



                            });
                        });

                    });

                });
            });
    });
    </script>
}











