@model COTS.WEB.Models.SeanceViewModel

@{
    ViewBag.Title = "LoadHall";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Зал # @Model.Hall</h4>
    </div>

    <div class="modal-body">

      
        <main class="container">

            <!--information-->
            <section class="row" id="info">
                <div class="col-lg-4" id="movie_block">
                    <b>Фильм: </b>
                    <span>@Model.Movie.Name</span>
                </div>
               
                <div class="col-lg-4" id="cinema_block">
                    <b>Кинотеатр: </b>
                    <span>@Model.Cinema.Name (@Model.Cinema.Address)</span>
                </div>
                
                <div class="col-lg-4" id="seance_block">
                    <b>Сеанс: </b>
                    <span>@Model.DateSeance  @Model.TimeBegin</span>
                </div>
            </section>
            <br/>

            <!--hall scheme-->
            <section id="hall_scheme"></section>

        </main>

    </div>
  
</div>


    





