@model COTS.WEB.Models.SeanceViewModel

@{
    ViewBag.Title = "Hall_1";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Зал # @Model.Hall</h4>
    </div>

    <div class="modal-body">
        <main class="container">
          
            <!--information-->
            <section class="row" id="info">
                <div class="col-lg-2" id="movie_block">
                    <b>Фильм: </b>
                    <span>@Model.Movie.Name</span>
                </div>

                <div class="col-lg-4" id="cinema_block">
                    <b>Кинотеатр: </b>
                    <span>@Model.Cinema.Name (@Model.Cinema.Address)</span>
                </div>

                <div class="col-lg-2" id="seance_block">
                    <b>Сеанс: </b>
                    <span>@Model.DateSeance  @Model.TimeBegin</span>
                </div>
            </section>
            <br />

            <!--hall scheme-->
            <section id="hall_scheme">
                <div class="row">
                    <!--about places-->
                    <section id="about_places">
                        <div class="col-lg-2" id="tariffs">
                            <b>Тарифы: </b>
                        </div>
                        <div class="col-lg-4" id="free">
                            <b>Свободные: </b>
                        </div>
                        <div class="col-lg-2" id="busies">
                            <b>Занятые: </b>
                        </div>
                    </section>
                </div>
                <br />

                <div class="row">

                    <section class="col-lg-4">
                        <!--Hall Scheme-->
                        <div id="hall">
                            <table>
                                <tr>
                                    <td colspan="8">
                                        <div id="screen">Экран</div>
                                    </td>
                                </tr>
                                <tr id="row_1">
                                    <td class="row_hall_left">Ряд 1</td>
                                    <td><button id="item_1" class="btn">1</button></td>
                                    <td><button id="item_2" class="btn">2</button></td>
                                    <td><button id="item_3" class="btn">3</button></td>
                                    <td><button id="item_4" class="btn">4</button></td>
                                    <td><button id="item_5" class="btn">5</button></td>
                                    <td><button id="item_6" class="btn">6</button></td>
                                    <td class="row_hall_right">Ряд 1</td>
                                </tr>
                                <tr id="row_2">
                                    <td class="row_hall_left">Ряд 2</td>
                                    <td><button id="item_7" class="btn">1</button></td>
                                    <td><button id="item_8" class="btn">2</button></td>
                                    <td><button id="item_9" class="btn">3</button></td>
                                    <td><button id="item_10" class="btn">4</button></td>
                                    <td><button id="item_11" class="btn">5</button></td>
                                    <td><button id="item_12" class="btn">6</button></td>
                                    <td class="row_hall_right">Ряд 2</td>
                                </tr>
                                <tr id="row_3">
                                    <td class="row_hall_left">Ряд 3</td>
                                    <td><button id="item_13" class="btn">1</button></td>
                                    <td><button id="item_14" class="btn">2</button></td>
                                    <td><button id="item_15" class="btn">3</button></td>
                                    <td><button id="item_16" class="btn">4</button></td>
                                    <td><button id="item_17" class="btn">5</button></td>
                                    <td><button id="item_18" class="btn">6</button></td>
                                    <td class="row_hall_right">Ряд 3</td>
                                </tr>
                                <tr id="row_4">
                                    <td class="row_hall_left">Ряд 4</td>
                                    <td><button id="item_19" class="btn">1</button></td>
                                    <td><button id="item_20" class="btn">2</button></td>
                                    <td><button id="item_21" class="btn">3</button></td>
                                    <td><button id="item_22" class="btn">4</button></td>
                                    <td><button id="item_23" class="btn">5</button></td>
                                    <td><button id="item_24" class="btn">6</button></td>
                                    <td class="row_hall_right">Ряд 4</td>
                                </tr>
                            </table>
                        </div>
                    </section>


                    <section class="col-lg-4">
                        <!--select places-->
                        <div class="row">
                            <div id="selected_places">
                                <h5><b>Selected places</b></h5>
                                <div class="row" style="border-bottom: 1px solid grey" id="sel_place_header">
                                    <p class="col-lg-2">Row</p>
                                    <p class="col-lg-3">Place</p>
                                    <p class="col-lg-5">Price</p>
                                    <div class="col-lg-2"></div>
                                </div>
                                <div id="data_block"></div>
                                <div class="row" id="total_sum">
                                    <h5><b>Total sum: </b><span></span></h5>
                                </div>
                                <div class="row">
                                    <button class="col-lg-12" id="next_step">Next step</button>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>       
            </section>

        </main>
       
    </div>

</div>